{% extends "layout.html" %}
{% block content %}
<div class="col-12">
    <!-- Button trigger modal -->
    <div class="row  ">
      <div class="col-10">
        <h3>Leave Form</h3>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-secondary" data-toggle="modal"
                data-target="#addLeave">
          New Leave
        </button>
      </div>
    </div>

  <br />


    <!-- Modal -->
    <div class="modal fade" id="addLeave" tabindex="-1" role="dialog"
         aria-labelledby="addLeaveLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Leave</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" action="">
            <div class="modal-body">
              <div class="content-section">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                  <legend class="border-bottom mb-4"> {{legend}}</legend>
                  <div class="form-group">
                    {{ form.no_of_days.label(class="form-control-label") }}
                    {% if form.no_of_days.errors %}
                    {{ form.no_of_days(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in form.no_of_days.errors %}
                      <span> {{error}}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.no_of_days(class="form-control form-control-lg") }}
                    {% endif%}
                  </div>
                  <div class="form-group">
                    {{ form.reason.label(class="form-control-label") }}
                    {% if form.reason.errors %}
                    {{ form.reason(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                      {% for error in form.reason.errors %}
                      <span> {{error}}</span>
                      {% endfor %}
                    </div>
                    {% else %}
                    {{ form.reason(class="form-control form-control-lg") }}
                    {% endif%}
                  </div>
                </fieldset>
              </div>

            </div>
            <div class="modal-footer">
              <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% for leave in leaves %}
    <article class="media content-section">
      <img class="rounded-circle article-img"
           src="{{ url_for('static', filename='profile_pics/' + leave.author.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ leave.author.username}}</a>
          <small class="text-muted">{{ leave.data_posted.strftime('%Y-%m-%d')}}</small>
          <small class="text-muted float-lg-right" >{{ leave.author.groups[0].name}}</small>

        </div>
        <h2><a class="article-title" href="{{url_for('leaves',leave_id=leave.id)}}">{{
          leave.no_of_days }}</a></h2>
        <p class="article-content">{{ leave.reason }}</p>
      </div>
    </article>
    {% endfor %}
  <br />
</div>
{% endblock content %}