{% extends "layout.html" %}
{% block content %}
<div class="col-12">
  <!-- Button trigger modal -->
  <div class="row  ">
    <div class="col-10">
      <h3>All Reports</h3>
    </div>
    {% if authorize.update('attendances') %}
    <div class="col-2">
      <button type="button" class="btn btn-secondary" data-toggle="modal"
              data-target="#addReport">
        New Report
      </button>
    </div>
    {% endif %}
  </div>


  <!-- Modal -->
  <div class="modal fade" id="addReport" tabindex="-1" role="dialog"
       aria-labelledby="addReportLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Report</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form action="" method="post">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add Marks</legend>
            <div class="form-group">
              {{ form.studentName.label(class="form-control-label") }}

              {% if form.studentName.errors %}
              {{ form.studentName(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.studentName.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.studentName(class="form-control form-control-lg") }}
              {% endif %}
            </div>


            <div class="form-group">
              {{ form.grade.label(class="form-control-label") }}
              {{ form.grade(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
              {{ form.term.label(class="form-control-label") }}
              {{ form.term(class="form-control form-control-lg") }}
            </div>


            <div class="form-group">
              {{ form.english.label(class="form-control-label") }}
              {{ form.english(class="form-control form-control-lg") }}
            </div>

            <div class="form-group">
              {{ form.maths.label(class="form-control-label") }}
              {{ form.maths(class="form-control form-control-lg") }}
            </div>

            <div class="form-group">
              {{ form.tamil.label(class="form-control-label") }}
              {{ form.tamil(class="form-control form-control-lg") }}
            </div>

            <div class="form-group">
              {{ form.sinhala.label(class="form-control-label") }}
              {{ form.sinhala(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
              {{ form.science.label(class="form-control-label") }}
              {{ form.science(class="form-control form-control-lg") }}
            </div>

            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
            </div>


          </fieldset>
        </form>

      </div>
    </div>
  </div>


  <div class="content-section">
    {% for report in reports %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">Student Name - {{ report['student_name']}}</a>
          <small class="text-muted">Grade - {{ report['grade']}}</small>
          <small class="text-muted float-lg-right" >Term - {{ report['term']}}</small>

        </div>
        <h2><a class="article-title" href="{{url_for('reportByTermIdAndStudentId',student_id =report['student_id'],term_id =report['aggregate_term_id'] )}}">
          {{report['student_name']}}'s Grade {{report['grade']}}  Term {{report['term']}} Report</a></h2>
<!--        <p class="article-content">Keep going nothing to stay more</p>-->
      </div>
    </article>
    {% endfor %}
  </div>

</div>
{% endblock content %}