<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	<link rel="stylesheet" type="text/css"  href = "{{ url_for('static', filename = 'styles.css')}}">
	
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Admin</h2>
        <ul>
            <li><a href="{{ url_for('about') }}" >Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Map</a></li>
        </ul> 
    </div>
    <div class="main_content">
        <div class="header"><li><a href="#">Logout</a></li>  </div>
        <div class="info">
            {% block content %}{% endblock %}  
      </div>
    </div>
</div>

</body>
</html>