<!doctype html>
<html>
   <head>
      <title>Login Form</title>
      <link rel="stylesheet" type="text/css"  href = "{{ url_for('static', filename = 'form.css')}}">
   </head>
   <body>
      <div class="login-box">
         <h1>Primary School Management System</h1>
         {% if error %}
         <p><strong>Error:</strong> {{ error }}
      {% endif %}
      <form action = ""  method = "POST">
            <div class="textbox">
               <input type = "text" name = "username" placeholder="Username" 
                  value = "{{request.form.username }}">
            </div>
            <div class="textbox">
            <input type = "password" name = "password" placeholder="Password">
            </div>
            <input class="btn" type = "submit" value = "Login">
      </form>
   </div>
   </body>
</html>